<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <style>#mapid { height: 500px; width: 800px; }</style>
</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">FaunaFication</a>
        <ul class="right hide-on-med-and-down">
            <li> <a href="species-cards.html">Species</a></li>
            <li> <a href="charity-cards.html">Charities</a></li>
            <li><a href="#">Log In</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Log In</a></li>
            <li><a href="species-cards.html">Species</a>></li>
            <li><a href="charity-cards.html">Charities</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#!" class="breadcrumb">Info</a>
            <a href="#!" class="breadcrumb">Mapped Data</a>
            <a href="#!" class="breadcrumb">Conservation Efforts</a>
        </div>
    </div>
</nav>

<h1 id="species"></h1>
<h2 id="population"></h2>
<p id="info">Lorem Ipsum ....................</p>






<div id="mapid"></div>
<script>
    //initialize leaflet
    var mymap = L.map('mapid').setView([-27.833, 133.583], 4);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiYnJ5Y2V3aWxraW5zb240MyIsImEiOiJja245bnRqYzcwejN1MnNvMG0zczI0YzVhIn0.bspf_6DxvHvi4pm0eOOKkA'
    }).addTo(mymap);






    //API Fetch and Set
        let myJson
        const userAction = async () => {
            const response = await fetch('/wgkData');
            myJson = await response.json(); //extract JSON from the http response
            // do something with myJson
            console.log(myJson)
            document.getElementById('species').innerText = myJson.name
            document.getElementById('info').innerText = myJson.about


            //json data supports multiple coords for scalability for later production

            let COORDS = []


            function json2array(json){
                var result = [];
                var keys = Object.keys(json);
                keys.forEach(function(key){
                    result.push(json[key]);
                });
                return result;
            }
            //Some problem with passing nested array and cannot call JSON.parse()
            /*
            myJson.geoData.forEach(element=> {COORDS.push(json2array(myJson.geoData))})
            console.log(COORDS)
            */
            /*
            polygon =L.polygon(COORDS,{color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5}).addTo(mymap)
            polygon.bindPopup("Drastically decreased, decimated by stray cats");
            */
            //

        }
        userAction()

        //manual for rotnest island add to db
        polygon = L.polygon(
            [[-28.760592865369176, 114.6462335507142], [-34.38882520238259, 115.61304502454006], [-31.617216175243563, 130.84107890079105], [-37.44113963016639, 140.0256493290082], [-28.76894610124382, 153.3850244973241]]
        ,{color: 'green'}).addTo(mymap)
        polygon.bindPopup("The population is of least concern, kangaroos thrive in a variety of environments and are too large to fall pray to invasive species such as feral cats");

        /*  ALTERNATIVE APROACH
        const userAction = async () => {
        const response = await fetch('/species', {
        method: 'GET',
        body: null, // string or object
        headers: {
        'Content-Type': 'application/json'
    }
    });
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        console.log(myJson)
    }

        userAction()

        */



    //var marker = L.marker([-27.833, 150.01]).addTo(mymap);
    /*var circle = L.circle([-27.833, 152.55], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
    }).addTo(mymap);

     */
            //set coords
            // [{long, lat}...]

            /*L.polygon([

            ]).addTo(mymap)

             */





    /*var polygon2 = L.polygon([
        [-31.82066202602414, 115.76475456437339],
        [-34.784389644249266, 116.10364812331744],
        [-33.715487257392525, 115.05364100657803]
    ]).addTo(mymap);

     */
</script>
</body>
</html>